/* webpack-to-do-app */
/* MIT License       */

/*
   menu.tasks
      li.task
         label
            input[type=checkbox]
            span
         nav
            button
*/
menu.tasks {
   max-width: 500px;
   padding-top: 20px;
   }
menu.tasks >li.task {
   display: flex;
   justify-content: space-between;
   color: dimgray;
   background-color: lightblue;
   padding: 10px 20px;
   margin-bottom: 10px;
   }
menu.tasks >li.task >label {
   column-gap: 3px;
   padding: 0px;
   margin-right: 20px;
   }
menu.tasks >li.task.done >label >span {
   text-decoration: line-through;
   color: gray;
   }
menu.tasks >li.task >nav {
   white-space: nowrap;
   }
menu.tasks >li.task >nav >button {
   padding: 5px 10px;
   }
menu.tasks >li.task:first-of-type >nav >button:nth-child(2),
menu.tasks >li.task:last-of-type  >nav >button:nth-child(1) {
   opacity: 0.5;
   pointer-events: none;
   }
